@tailwind base;
@tailwind components;
@tailwind utilities;

@layer Components{

    .linklist li{
        @apply text-sm whitespace-nowrap font-bold hover:text-sky-500 sm:mb-4 md:text-base lg:text-xl lg:mb-8 xl:text-2xl xl:mb-12
    }
    .products{
      @apply sm:justify-items-center
    }
    .product-name{
      @apply mt-5 text-center relative  xxl:justify-center
    }
  .product-name p{
    @apply text-sm leading-snug font-bold mb-4  md:text-base md:mb-3 lg:text-xl xl:mb-5 
  }
  .product-name span{
    @apply text-sm text-gray-400 md:text-base lg:text-xl 
  }
.custom-arrow,.customprev-arrow {
    display: block;
 /* font-size: 20px; Default font size */
   
    background: black;
    border-radius: 50%;
    top: 70px;
   
    z-index: 10;
    
  }
  .custom-arrow{
       right: 15px; 
  }
  .customprev-arrow{
      left: 15px;
  }
  @media(max-width:1800px){
    .custom-arrow,.customprev-arrow{
      font-size: 30px;
      top: 220px;
    }
  }
  @media (max-width: 1610px) {
    .custom-arrow,.customprev-arrow {
      font-size: 45px !important;
      top:250px;
     width: 20px;
      /* Medium screen size */
    }
    .custom-arrow{
         right: 30px;
    }
    .customprev-arrow{
        left: 25px;
    }
  }

  @media (max-width: 1270px) {
    .custom-arrow,.customprev-arrow {
      font-size: 35px !important;
      top:220px;
     
      /* Medium screen size */
    }
    
  }
  
  @media (max-width: 1000px) {
    .custom-arrow,.customprev-arrow {
      font-size: 25px !important;
      top:250px;
     
      /* Medium screen size */
    }
    .custom-arrow{
         right: 25px;
    }
    .customprev-arrow{
        left: 20px;
    }
  }
  
  @media (max-width: 699px) {
    .custom-arrow,.customprev-arrow {
      font-size: 19px;
      top: 200px;
      /* Small screen size */
    }
    .custom-arrow{
         right: 15px;
    }
    .customprev-arrow{
        left: 15px;
    }
  }
  /* @media (max-width: 499px) {
    .custom-arrow,.customprev-arrow {
      font-size: 19px;
      top: 100px;
      /* Small screen size */
    /* }} */ 
  @media (max-width: 499px) {
    .custom-arrow,.customprev-arrow {
      font-size: 19px;
      top: 150px;
      /* Small screen size */
    }}